body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: black;
}

.tabcontent {
    display: none;
    height: 100%;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: black;
    font-family: sans-serif;
    height: 50px;
    align-items: center;
}

#header1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    gap: 7%;
    background-color: black;
    font-family: sans-serif;
    height: 50px;
    align-items: center;
}

#header2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-right: 5%;
}

.Hbutton {
    background-color: black;
    border: none;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.Hbutton:hover {
    background-color: black;
    color: orange;
}

.Hbutton:focus {
    background-color: none;
}

footer {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;
    position: absolute;
}

.h1Footer {
    color: orange;
}

.midcontent {
    padding-left: 8%;
    padding-top: 4%;
}

h1 {
    color: white;
    font-size: 35px;
    animation: view 6s, slidey 2.5s;
}

.hr1 {
    border: 0.5px solid orange;
    width: 35%;
    opacity: 1;
    animation: slide 3s;

}

p {
    color: orange;
}

.icons {
    margin-top: 175px;
}

.loader {
    width: 250px;
    height: 50px;
    overflow: hidden;
    background: black;
}

.loader:before {
    content: attr(data-text);
    position: relative;
    top: -65px;
    color: black;
    width: calc(100% + 27px);
    font-size: 4em;
    text-decoration-style: wavy;
    text-decoration-color: orange;
    text-decoration-line: underline;
    animation: animate 1s linear infinite;
    opacity: .4;
}

.saw {
    animation: view 4s;
}

.learnmore{
    text-decoration: none;
    background-color: black;
    color: white;
    transition: 0.5s;
}
.learnmore:hover {
    color: orange;
  }
  
@keyframes animate {
    0% {
        left: 2px;
    }

    100% {
        left: -30px;
    }
}

@keyframes slide {
    from {
        width: 0%;
    }

    to {
        width: 35%;
    }
}

@keyframes view {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes slidey {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}