body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: black;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: black;
    font-family: sans-serif;
    height: 50px;
    align-items: center;
}

#header1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    gap: 7%;
    background-color: black;
    font-family: sans-serif;
    height: 50px;
    align-items: center;
}

#header2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-right: 5%;
}

.Hbutton {
    background-color: black;
    border: none;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.Hbutton:hover {
    background-color: black;
    color: orange;
}

.Hbutton:focus {
    background-color: none;
}

footer {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;
    position: absolute;
}

.h1Footer {
    color: cadetblue;
}

.midcontent {
    padding-left: 5%;
}

h1 {
    color: white;
    font-size: 30px;
    margin-top: 2%;
}

hr {
    border: 0.5px solid orange;
    width: 30%;
    opacity: 1;
    animation: slide 2s;

}

p {
    color: orange;
}

@keyframes slide {
    from {
        width: 0%;
    }

    to {
        width: 30%;
    }
}

@keyframes view {
    from {}

    to {}
}